<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Livros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <main>
        <h2>Lista de livros</h2>

        <a href="{{ url_for('novo') }}" class="btn-novo">Cadastrar Novo Livro</a>
        <br><br>

        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Autor</th>
                    <th>Ano de Publicação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for livro in livros %}
                <tr>
                    <td>{{ livro[1] }}</td> <!-- NOME -->
                    <td>{{ livro[2] }}</td> <!-- AUTOR -->
                    <td>{{ livro[3] }}</td> <!-- DATAPUBLICACAO -->
                    <td>
                        <a href="{{ url_for('editar', id=livro[0]) }}" class="btn-editar">Editar</a>

                        <form action="{{ url_for('deletar', id=livro[0]) }}" method="post" class="form-deletar" onsubmit="return confirm('Tem certeza que deseja deletar este livro?')">
                            <button type="submit" class="btn-deletar">Deletar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>
</html>
